<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @micropost.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @micropost.user.login %>
 </p>

<p>
  <strong>Photo:</strong>
  <%= @micropost.photo %>
</p>



<% if can? :update, @micropost %>
<%= link_to 'Edit', edit_micropost_path(@micropost) %>
<% end %>
<%= link_to 'Back', microposts_path %>




<%= form_for [@micropost, @micropost.comments.build],remote: true do |f| %>
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body, id:'name_field'  %>
    </div>

    <div class="field">
      <%= image_tag @micropost.image.url(:thumb), class: 'img-show' if @micropost.image? %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>



<% end %>


<ul id="comments">
  <%= render @micropost.comments  %>
</ul>


